body {
  background-image: url(xV8pvl.png);
  background-position: center;
  background-size: cover;
  color: white;
  font-size: large;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.alerts{
  text-align:center;
  position:absolute;
  top:10px;
}
main {
  background-color: rgba(255, 255, 255, 0.196);
  border-radius: 10px;
  padding: 10%;
  padding-top: 8%;
}
div {
  display: flex;
  justify-content: center;
}
button {
  border-radius: 10px;
  border: none;
  outline: none;
}
#code {
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  border: none;
  outline: none;
}
